
.you{
background-color: #563a4c !important ;
}

.mop{
    margin-left: 500px !important;
}
.mc{
    margin-left: 200px !important;
}
 ul li a{

color: white !important;
font-weight: 600 !important;
margin-top: 40px !important;


}
.n{margin-left: 600px ;}
ul li a:hover{
    opacity: 1;
    width: 100%;
    transition: 0.5s !important;
    color: #d2b17a !important;
}
.mnc{
    margin-left: 7%;
    
}
.boy1{
    width: 8%;
    margin-left: 110px !important;
   position: absolute;
}

.mop{
    color: #d2b17a !important ;
    margin-left: 1200px !important;
    position: absolute;
    margin-top: -28px !important;
    font-size: 17px !important;
}
.moo{
    color: #d2b17a !important ;
    margin-left: 1260px !important;
    position: absolute;
    margin-top: -28px !important;
    font-size: 17px !important; 
}

.BOY2{
    color: #ffdf8c;
    position: absolute;
    margin-top: -450px !important;
margin-left: 390px !important;
font-weight: 700;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 42px !important;
}
.boy3{
    position: absolute;
    margin-top: -390px !important;
margin-left: 410px !important;
color: white ;
font-size: 15px ;
font-weight: 500;
font-family: sans-serif;
}

.boy4{
color: white !important;
font-family: sans-serif !important;
font-weight: 600 !important;
background-color: #ffdf8c !important;
margin-left: 590PX !important;
width: 180PX !important;
border: #ffdf8c!important;
border-radius: 20px !important;
margin-top: -300px !important;
position: absolute !important;
}

.boy5{
    width: 1354px;
    height: 500px !important;
    margin-left: -20px !important;
position: absolute;
margin-top: -100px !important;
}

.boy6{
    margin-left: 340px !important;
    position: absolute;
    width: 600px;
    height: 250px !important;
    margin-top: 130px !important;

}
.boy7{
    color: #563a4c;
    position: absolute;
    margin-left: 500px !important;
    font-family: sans-serif;
font-weight: 600;
}
.boy8{
 position: absolute;
 font-size: 14px ;
 margin-left: 330px ;
 margin-top: 50px !important;
font-family: sans-serif;
font-weight: 500;
}

.boy9{
position: absolute;
width: 22%;
margin-left: 500px;
margin-top: 180px;
}
.boy10{
position: absolute;
width: 22%;
margin-left: 1036px;
margin-top: 200px;
}

.boy11{
    position: absolute;
    width: 18%;
    margin-left: -30px;

}
.boy12{
    margin-top: 450px;
    width: 40%;
    margin-left: 80px;
}
.boy13{
    color:#ffdf8c;
font-family: sans-serif;
}

.boy14{
color: #563a4c;
font-family: sans-serif;
font-weight: 700;
margin-top: 13PX;
font-size: 32px;
}
.boy15{
    font-family: sans-serif;
    font-size: 17px;
    margin-top: 30px;
    color: black;
}
.boy16{
    color: black !important;
font-family: sans-serif !important;
font-weight: 500 !important;
background-color: #ffdf8c !important;
margin-top: 20px;
width: 180PX !important;
border: #ffdf8c!important;
border-radius: 20px !important;
}

.boy17{
    width: 36%;
    margin-top: 650px;
    margin-left: 50px;
}

.boy18{
    width: 55%;
    margin-left: 250px;
    margin-top: -430px;
}
.boy19{
    width: 130px;
    margin-left: 250px;
    margin-top: -200px;
}
.boy20{
    width: 150px;
    margin-left: 400px;
    margin-top: -250px;
}



.boy21{
   width: 300px;
  margin-left: 0px;
 margin-top: -50px;
  
}
.joj{


background-color: #f7f6fb !important;}
.ioi{
    margin-left: -50px !important;
}

.boy22{
    margin-left: 0px;
    color:gray ;
    font-weight: 500;
    font-family: sans-serif;
}
.opp{
    margin-left: 0px ;
    background-color: #d2b17a !important;
     border: 1px solid #d2b17a;

}

.boy23{
    margin-left: 0px;
    font-size: 17px;
    font-weight: 600;
    font-family: sans-serif;
}
.boy24{
    margin-left: 0px;
    font-size: 12px;
    font-weight: 500;
    font-family: sans-serif;
}

.pop{
    border: 1px solid wheat;
    width: 300px ;
    margin-left: 150px;
    height: 450px;
    margin-top: 50px;
    background-color: white;
    border-radius: 12px;
}

.p1{
    width: 20% !important;
    margin-left: 850px !important;
}

.boy25{
    color: #563a4c;
font-family: sans-serif;
font-weight: 700;
font-size: 32px;
}

.wow{
 width: 200px ;
height: 150px;
background-color: white;
margin-left: 200px;
margin-top: 20px;
border-radius: 10px;
}

.lol{
    width: 200px ;
    height: 150px;
    background-color: white;
    margin-top: 20px;
border-radius: 10px;
margin-left: 110px;
}

.uou{
    width: 200px ;
    height: 150px;
    background-color: white;
    margin-top: 20px;
border-radius: 10px;
margin-left: 20px;
}
.mom{
    width: 200px ;
    height: 150px;
    background-color: white;
    margin-top: 20px;
border-radius: 10px;
margin-left: -70px;
}

.boy26{
width: 75%;
margin-top: 30px;
}

.boy27{
    width: 85%;
margin-top: 50px;
}

.back{
    background-image: url(img/20.png);
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(71, 22, 71, 0.5);
 }

.boy28{
    color:#ffdf8c;
    margin-top: 80px;
     font-family: sans-serif;
    font-weight: 700;
}

.boy29{
     color: white;
      font-family:sans-serif;
      font-size: 58px !important;
     font-weight: 500;
}


.boy30{
    color:#563a4c !important;
font-family: sans-serif !important;
font-weight: 500 !important;
background-color:#ffdf8c !important;

width: 210PX !important;
border: #ffdf8c!important;
border-radius: 20px !important;


}